/*
  Persons.scss
  v.0.0.1
*/

@import "../../styles/css-variables";

.persons {
  padding: 0rem 1rem;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  min-height: 50rem;
  overflow: hidden;

  &-add {
    //row direction but take complete row->100%
    flex: 1 0 100%;
    display: flex;
    flex-direction: column;
    min-width: 25rem;
  }

  &-input {
    display: flex;
    padding: 1rem 0rem;

    input:nth-child(1) {
      flex: 1;
    }
  }
  &-collection {
    //used to place collection-empty absolute
    position: relative;
    //row direction but take complete row->100%
    flex: 1 0 100%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem 0rem;
    border-top: var(--border-1);
    height: calc(100% - 5rem);
  }

  &-collection-title {
    flex: 1 0 100%;
    padding: 1rem 0rem;
    //border-bottom: 0.5px solid var(--color-light-1);
    color: var(--color-primary-contrast);
    background-color: var(--color-primary);
    text-align: center;
  }
  &-collection-empty {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    width: 100%;
    text-align: center;
    color: var(--color-light-2);
  }
}
